{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block body_block %}
  
  <div class="container" style=" max-width:50%;position: fixed;
  bottom: 0%;
  top:0%;
  left:0%;
  background-color: black;">
    <img src="{% static '' %}" alt="">
  </div>


  <div class="container" style="margin-left: 40%; max-width:35%;position: fixed;
  right: 5%;
  top:3%;" >
        <h1>Register Here</h1>
        <h3>Just fill out the form.</h3>

        <form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {% bootstrap_form user_form %}
          <input style="background-color: black;
          color: white; width: 15%; position: fixed;
          bottom: 9%;right: 15%; border-radius: 9px;" type="submit" name="" value="Register">
        </form>
        <p style="position: fixed;bottom: 3%;right: 15% ;" >Already have a Account? <a href='{% url 'shop:login' %}'>Log In</a> </p>
        <p style=" position: fixed;
        bottom: 0%;right: 15% ;" > Register as a Shop owner <a href='{% url 'shop:login' %}'>Here</a> </p>
  </div>

{% endblock %}
