{% extends "base.html" %}

{# at the terminal, run pip install django-bootstrap4 #}
{% load bootstrap4 %}

{% block body_block %}
<div class="container">
  <h1>Shop Registration</h1>
  <form method="POST" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_form profile_form %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">Register Shop</button>
      <button onclick="window.location.href = '{% url 'accounts:login' %}';" class="btn btn-primary">Log In</button>
       <button onclick="window.location.href = '{% url 'accounts:signup' %}';" class="btn btn-primary">Sign Up</button>
    {% endbuttons %}
  </form>
</div>
{% endblock %}
